<!DOCTYPE html>
<html>
<head>
    <title>Register | EduVault</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="auth-body">

    <div class="auth-wrapper">
        <div class="auth-left">
            <h1>Join EduVault</h1>
            <h2>Create your secure student account</h2>
            <p>Students can upload notes, assignments, presentations and academic resources safely.</p>

            <div class="feature-list">
                <span>✔ Password Hashing</span>
                <span>✔ File Validation</span>
                <span>✔ Secure Sessions</span>
                <span>✔ Admin Control</span>
            </div>
        </div>

        <div class="auth-card">
            <h2>Create Account</h2>
            <p class="subtitle">Register as a student user</p>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form method="POST">
                <input type="text" name="username" placeholder="Choose username" required>
                <input type="password" name="password" placeholder="Choose password" required>
                <button type="submit">Register</button>
            </form>

            <p class="bottom-text">Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>

</body>
</html>